<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-dark bg-info" routerLink="/">Online Bookshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-warning" id="navbarNavAltMarkup" [ngSwitch]="usertype">
            <div class="navbar-nav " *ngSwitchCase="'guest'">
                <a class="nav-link active text-dark" aria-current="page" routerLink="/">Home</a>
                <a class="nav-link text-dark" routerLink="/books">Books</a>
                <a class="nav-link text-dark" routerLink="/feedback">Feedback</a>
                <a class="nav-link text-dark" routerLink="/register">Register</a>
                <a class="nav-link text-dark" routerLink="/login">Login</a>
                <a class="nav-link text-dark" routerLink="/alogin">Admin Login</a>
            </div>
            <div class="navbar-nav bg-warning" *ngSwitchCase="'user'">
                <a class="nav-link active text-dark" aria-current="page" routerLink="/">Home</a>
                <a class="nav-link text-dark" routerLink="/books">Books</a>
                <a class="nav-link text-dark" routerLink="/feedback">Feedback</a>
                <a class="nav-link text-dark" routerLink="/viewcart">View Cart</a>
                <a class="nav-link text-dark" (click)="ulogout()">Logout</a>

            </div>
            <div class="navbar-nav bg-warning" *ngSwitchCase="'admin'">
                <a class="nav-link active text-dark" aria-current="page" routerLink="/">Home</a>
                <a class="nav-link text-dark" routerLink="/mngbooks">Books</a>
                <a class="nav-link text-dark" routerLink="/vfeedback">Feedback</a>
                <a class="nav-link text-dark" routerLink="/vorders">View Orders</a>
                <a class="nav-link text-dark" (click)="alogout()">Logout</a>

            </div>
        </div>
    </div>
</nav>