<div class="container">
    <h3>Manage Books Here</h3>
    <div style="width: 400px;">
        <form (ngSubmit)="submitdata()" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Book Name</label>
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="b.bookname" name="bookname">
            </div>

            <div class="form-group">
                <label for="name">Author</label>
                <input type="text" class="form-control" id="author" required [(ngModel)]="b.author" name="author">
            </div>
            <div class="form-group">
                <label for="name">Type</label>
                <select class="form-select" id="type" required [(ngModel)]="b.type" name="type">
                    <option>--select--</option>
                    <option>Story</option>
                    <option>Coding</option>
                    <option>Novels</option>
                    <option>Finance</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Price</label>
                <input type="text" class="form-control" id="price" required [(ngModel)]="b.price" name="price">
            </div>
            <div class="form-group">
                <label for="name">Book Image</label>
                <input type="file" class="form-control" id="bookimage" required multiple value="select" (change)="onFileSelected($event)">
                <div class="row">
                    <div *ngFor="let file of b.bookImages;let i =index" class="col-sm-2">
                        <span class="close" (click)="removeImage(i)">x</span>
                        <img [src]="file.url" alt="" width="100px" height="100px">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>


</div>